@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

.header{
    background-color: #BCC8BA;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.header_img {
    height: 70px;
}

.header_img_user{
    height: 50px;
}


.header-link {
    text-decoration: none;
    color: #2B331E;
    font-weight: bold;
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-link:hover {
    text-decoration: underline;
}

.links-header{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.links-header > * {
    width: 100%;
}

.topbar {
    padding: 1vw;   
    display: flex;
    flex-direction: column;
}

.topbar_items{
    height: 6vh;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.half_line {
    background-color: #BCC8BA;
    height: 10px;
    margin-bottom: 30px;
    width: 70%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn {
    cursor: pointer;
    color: #fff;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    border: none;
    background-color: #546747;
}

.btn:hover{
    background-color: rgb(85, 111, 154)
}

.btn_disabled {
    color: #fff;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    border: none;
    background-color: rgb(96, 108, 126);
}


.input{
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #BCC8BA;
    border-radius: 12px;
    background-color: #fff;
}

.input_alt_label{
    width: 60%;
}

.input_alt {
    margin-top: 0.5rem;
    border: 0;
    border-bottom: 2px solid #BCC8BA;
    background-color: #fff;
    max-width: 100%;
    min-width: 30%;
    font-size: 1rem;
}

.input_alt:disabled {
    color: #000;
    border-bottom: 2px solid #000;
}